<div class="callout {{ .Get "type" }}">
  <div class="callout-content">
    <strong>{{ .Get "title" }}</strong>
    <div>{{ .Inner }}</div>
  </div>
</div>



<style>
  /* Base Callout Styling */
  .callout {
    position: relative; /* Needed for absolute positioning of the ::before element */
    padding: 20px;
    margin: 20px 0;
    border: 2px solid; /* Adds a border around the callout box */
    border-radius: 8px; /* Rounded corners for the box */
    /*font-family: Arial, sans-serif;*/
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
 
  
  /* Info Callout */
  .callout.info {
    background-color: #e0f7fa;
    border-color: #00acc1;
  }
  
  
  /* Warning Callout */
  .callout.warning {
    background-color: #fff3e0;
    border-color: #ff6f00;
  }
  
  /* Success Callout */
  .callout.success {
    background-color: #e8f5e9;
    border-color: #43a047;
  }
  
  
  /* Error Callout */
  .callout.error {
    background-color: #ffebee;
    border-color: #e53935;
  }
  
</style>
